<html>
    <head>
        {% include 'cdnlines.html' %}
       
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center">Welcome {{user.username}}</h3>
                    {% if book %} 
                        <table class="table table-bordered text-center">
                            <thead class="bg-success">
                                <tr>
                                    <td>Book</td>
                                    <td>Author</td>
                                    <td>Published date</td>
                                    <td>Count</td>
                                                    
                                </tr>
                            </thead>
                            <tbody class="bg-secondary">
                                {% for obj in book %}
                                <tr>
                                    <td>{{obj.book_name}}</td>
                                    <td>{{obj.author}}</td>
                                    <td>{{obj.published_date}}</td>
                                    <td>{{obj.book_count}}</td>
                                                       
                                </tr> 
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <h3>No data Available</h3>
                    {% endif %}
                </div>
            </div>
        </div>
        
    </body>
</html>